body
{
    margin: 0px;
    height: 100%;
}
#nav
{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
#nav a
{
    margin-right: 20px;
}

#nav a.Images
{
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 10px;
}
#middle
{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#logo
{
    text-align: center
}
#searchbarcontainer
{
    text-align: center;
    margin-top: 20px;
}
#searchbar
{
    padding-top: 20px;
    padding-bottom: 20px;
    outline: 0;
    width: 600px;
    height: 2px;
    border-radius: 25px;
    border: 2px solid #969191;
}
#buttons
{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.button
{
margin-left: 20px;
margin-right: 10px;
padding:  10px 10px;
cursor: pointer;
background: rgb(128, 128, 128);
}
#links
{
    text-align: center;
    margin-top: 20px;
}
body
{
display: flex;
flex-direction: column;
}
#footer-content
{
background: #eeeeee;
border-top: 1px solid;
}
a{
    text-decoration: none;
}